/******************************************************************
Site Name:
Author:

Stylesheet: Susy Grid

******************************************************************/

@import "susy";

$base-font-size: 16px;
$base-line-height: 24px;

// Mobile First Layout
$total-columns  : 6;
$column-width   : 3.75em;	// 60px
$gutter-width   : 1.25em;	// 20px
$grid-padding   : 0.625em;	// 10px
$container-min-width  : 300px;
$container-max-width  : 700px;
$container-style: fluid;

// larger mobile layout
$break-500-total-columns  : 6;
$break-500-column-width   : 3.75em; 	// 60px
$break-500-gutter-width   : 1.25em;		// 20px
$break-500-grid-padding   : $break-500-gutter-width;
$break-500-container-style: fluid;
$break-500: 31.25em 6;

// desktop layout
$break-980-total-columns  : 12;
$break-980-column-width   : 3.75em; 	// 60px
$break-980-gutter-width   : 1.25em;		// 20px
$break-980-grid-padding   : $break-980-gutter-width;
$break-980-container-style: magic;
$break-980: 61.25em 12;